
@{
    ViewBag.Title = "RegisterConfirm";
    Layout = "~/Views/Shared/_LayoutMember.cshtml"; // 指定 Layout
}

<h2 class="fw-bolder text-center">註冊成功</h2>
<div class="container">
    <div class="alert alert-success" role="alert">
        註冊成功!
    </div>
</div>
    