@using ReadMe_Front.Models.ViewModels
@model SearchVm

<div class="resultContainer">
    @Html.Partial("_PagedResult")
</div>



<script>
    $(document).ready(function () {

        // 分頁按鈕點擊事件
        $(document).on('click', '.pagination a', function (e) {
            e.preventDefault(); // 防止預設行為
            var pageNumber = $(this).data('page');
            var url = $(this).attr("href");
            console.log("url", url);

            var input = $('#originalSearchInput').val();
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#resultContainer').html(data);
                },
                error: function (xhr) {
                    console.error("Error:", xhr.responseText);
                    alert("伺服器發生錯誤，請稍後再試！");
                }
            });
        });
    });


    function applyFilter() {
        const category = document.getElementById("categoryFilter").value;
        const publisher = document.getElementById("publisherFilter").value;
        const author = document.getElementById("authorFilter").value;
        const input = document.getElementById("originalSearchInput").value;

        // 發送篩選條件到後端
        fetch('/Search/FilterResults', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ input, category, publisher, author })
        })
            .then(response => response.json())
            .then(data => {
                // 更新篩選結果及分頁
                console.log(data);
                updateResultsOnPage(data);
            });
    }

    function updateResultsOnPage(data) {
        const resultContainer = document.getElementById('resultContainer');
        const paginationContainer = document.getElementById('paginationContainer');

        // 清空現有內容
        resultContainer.innerHTML = '';

        // 確保 data.data 存在且為數組
        if (Array.isArray(data.Data)) {
            // 更新篩選結果
            data.Data.forEach(item => {
                resultContainer.innerHTML += `
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="card border-1 m-1" style="width: 10rem;">
                        <div class="card-img">
                            <a href="~/Products/ProductDetail/${item.Id}">
                                <img src="${item.ImageURL}" class="card-img-top img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="~/Products/ProductDetail/${item.Id}">
                                <h5 class="card-title text-center">${item.Title}</h5>
                            </a>
                            <p class="card-text text-center">$ ${item.Price}</p>
                        </div>
                    </div>
                </div>
                `;
            });
        } else {
            // 顯示空結果訊息
            resultContainer.innerHTML = '<p>沒有篩選結果</p>';
        }

        // 更新分頁資訊
        if (data.PaginationInfo) {
            paginationContainer.innerHTML = `總筆數: ${data.PaginationInfo.RecordCount} 當前頁碼: ${data.PaginationInfo.PageNumber} / ${data.PaginationInfo.Pages}`;
        }
    }
</script>

